[submodule "dxflib"]
	path = dxflib
	url = git@github.com:taquart/dxflib.git
	
[submodule "Bounding-Spheres-And-Circles"]
	path = Bounding-Spheres-And-Circles
	url = git@github.com:AntonSemechko/Bounding-Spheres-And-Circles.git
